*{
    padding: o;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    scroll-behavior: smooth;
    font-style: italic;
    box-sizing: border-box;
}

.container{
   height:100vh;
   max-width: 100vw;
  
}

.sidebar{
    height: 100%;
    width: 25%;
    background-color: rgb(143, 12, 114) ;
    display: inline-block;
vertical-align: top;
}
.sidebar img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(172, 189, 157);
    outline: 10px solid rgb(165, 42, 165);
    outline-offset: 2px;
    margin: 17%;
    

}
.link a{
    margin-left: 110px;
    color: white;
    font-style: italic;
}
.content{
   max-height: 100%;
    width: 69%;
    background-color: ghostwhite;
    display: inline-block;
    overflow-y: scroll;

}
.content h1{
    font-weight: lighter;
}